div{
    background-color: rgb(240, 199, 199);
}

p{
    background-color: rgb(233, 156, 156);
}

span{
    background-color: rgb(235, 235, 171);
}

a{
    background-color: rgb(186, 141, 228);
}

/* ======================================================== */

.titulo{
    text-align: center;
}

.contenedor{
    background-color: pink;
    width: 200px;
    height: 200px;
    /* margin: 0px 200px 0px 200px; */
   margin: auto;
}

.contenedor div{
    background-color: rebeccapurple;
    color: white;
    width: max-content;
    margin: auto;

}